<template>
  <section>
  </section>
</template>

<script>
import { version } from '../../package.json'

export default {
  name: 'issuantt-header',
  data () {
    return {
      version: version
    }
  }
}
</script>
