<template>
  <section>
    <b-field>
            <b-select
                placeholder="Attribute"
                v-model="attribute"
                @input="updateSearchFilter">
                <option>state:opened</option>
                <option>labels:Epic</option>
                <option>milestone:changeme</option>
                <option>milestone:None</option>
                <option>scope:all</option>
                <option>author_username:davide</option>
                <option>assignee_username:davide</option>
                <option>iids[]:1</option>
                <option>search:something in:title</option>
                <option>created_after:2020-05-01</option>
                <option>created_before:2020-05-01</option>
                <option>updated_after:2020-05-01</option>
                <option>updated_before:2020-05-01</option>
                <option>confidential:true</option>
                <option>not:labels milestone search</option>
                <option>non_archived:false</option>
            </b-select>
            <b-autocomplete
                v-model="search"
                @keyup.native.enter="updateRoute(null)"
                icon="magnify"
                expanded
                clearable
                placeholder="e.g. milestone:name"
                :data="filteredDataArray"
                @select="option => selected = option">
                <template slot="empty">No results found</template>
            </b-autocomplete>
            <p class="control">
                <button class="button is-primary" :class="{'is-loading': loading}" @click="updateRoute(null)">Search</button>
            </p>
    </b-field>
  </section>
</template>

<script>

import { mapActions, mapState } from 'vuex'

export default {
  name: 'issue-filter',
  mounted () {
    this.updateSearchBox()
  },
  watch: {
    '$route' (to, from) {
      this.updateSearchBox()
    }
  },
  computed: {
    ...mapState([
      'loading'
    ]),
    search: {
      get () {
        return this.$store.state.filter.search
      },
      set (value) {
        this.$store.commit('filter/search', value)
      }
    },
    filteredDataArray () {
      return this.data.filter((option) => {
        return option
          .toString()
          .toLowerCase()
          .indexOf(this.search.toLowerCase()) >= 0
      })
    }
  },
  methods: {
    ...mapActions('issue', [
      'refreshIssues'
    ]),
    updateSearchBox () {
      const q = this.$route.query.q
      if (q) {
        this.search = q
        this.refreshIssues()
      }
    },
    updateSearchFilter () {
      this.search += ' ' + this.attribute
    },
    updateRoute () {
      const q = this.search.trim()
      // update document title
      document.title = `Issuantt ${q}`
      // update history
      if (q !== '' && this.data.findIndex(function (element) {
        return element === q
      }, q) === -1) {
        this.data.push(q)
      }
      // update route
      this.$router.push({ query: { q: q } })
      this.refreshIssues()
    }
  },
  data () {
    return {
      data: [],
      attribute: '',
      selected: null
    }
  }
}
</script>
